<div class="container" style="margin-top: 50px">
  <h1>Add your own cocktail</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "btn btn-outline-dark"%>
  <% end %>
</div>
