<h1><%= @cocktail.name %></h1>
<p>Recipe:</p>
<% @cocktail.doses.each do |dose| %>
  <p>- <%= dose.description %> of <%= dose.ingredient.name %> </p>
  <button type="button" class="btn btn-danger"><%= link_to "Delete", dose_path(dose), method: :delete %></button>
<% end %>
<p><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %></p>
