<h1>Add a new dose to <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit%>
<% end %>
<p>
  <span id="banner-typed-text"></span>
</p>
